---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Home from "../components/Home.astro";

interface Props {
	// Although pages usually don't receive props from routing in the same way,
	// defining strict types complies with the request for a "strictly typed" component.
	title?: string;
}

const { title = "Red Demons | Home" } = Astro.props;
---

<Layout title={title}>
	<div class="flex flex-col min-h-screen bg-black">
		<Header />

		<main class="flex-grow">
			<Home />
		</main>

		<Footer />
	</div>
</Layout>
